<form method="POST" action="">
<div>
<label>Text</label><input type="text" name="textExample">
</div>
<div>
<label>Email</label><input type="email" name="emailExample">
</div>
<div>
<label>URL</label><input type="url" name="urlExample"></div>
<div>
<label>Search</label><input type="search" name="searchExample">
</div>
<div>
<label>Number</label><input type="number" min="1" max="10" step="1" name="numberExample">
</div>
<div>
<label>Range</label><input min="1" max="10" step="1" type="range" name="rangeExample">
</div>
<div>
<label>Radio 1</label><input type="radio" name="radioExample" value="Radio 1">
<label>Radio 2</label><input type="radio" checked="" name="radioExample" value="Radio 2">
<label>Radio 3</label><input type="radio" name="radioExample" value="Radio 3">
</div>
<div>
<label>Checkbox 1</label><input type="checkbox" name="checkboxExample" value="Checkbox 1">
<label>Checkbox 2</label><input type="checkbox" name="checkboxExample" value="Checkbox 2">
<label>Checkbox 3</label><input type="checkbox" name="checkboxExample" value="Checkbox 3">
</div>
<div>
<label>Date</label><input type="date" name="dateExample">
</div>
<div>
<label>Dropdown</label>
<select name="selectExample">
<option value="Option 1">Option 1</option>
<option value="Option 2" selected="">Option 2</option>
<option value="Option 3">Option 3</option>
</select>
</div>
<div>
<label>Multi-select</label>
<select multiple="" name="multiSelectExample">
<option value="Option 1">Option 1</option>
<option value="Option 2">Option 2</option>
<option value="Option 3">Option 3</option>
</select>
</div>
<div>
<textarea name="textareaExample"></textarea>
</div>
<div>
<label></label><input type="submit">
</div>
</form>