<h3> Hey, welcome to Jane's busy birder! Birdy lovers 
favorite website</h3>
<img alt="birdy" src="/img/bird.png" height="300" width="300">
<p>Take a look at the <a href="/birds"><em>birds</em></a> Or </p>
<p>Change your <a href="/settings"><em>settings</em></a></p>